
/* -------------------------------RESET--------------------------------------- */

* {
    box-sizing: border-box;
    text-decoration: none;
}

html, body, h1, h2, h3, p, a, li {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
    
/* ---------------------------------VARIABLES------------------------------------------ */

:root {
    /* font size */
    --fs-extrasmall: 0.5 rem;
    --fs-small: 0.7 rem;
    --fs-regular: 1 rem;
    --fs-large: 1.5 rem;
    --fs-extralarge: 2 rem;

    /* font weight */
    --fw-thin: 300;
    --fw-regular: 500;
    --fw-semibold: 700;
    --fw-bold: 900;
}